@keyframes monAnimation {
    0% {
        color:rgba(255, 255, 255, 0);
    }
    50% {
        color: rgba(255, 255, 255, 0);
    }
    100% {
        color: black;
    }
}

#anim1, #anim2, #anim3, #anim4, #anim5, #anim6, #anim7, #anim8, #anim9, #anim10, #anim11, #anim12, #anim13, #anim14, #anim15, #anim16, #anim17, #anim18, #anim19, #anim20, #anim21, #anim22, #anim23, #anim24, #anim25, #anim26, #anim27, #anim28, #anim29, #anim30 {
    animation-name: monAnimation;    
    animation-duration: 2s;
    animation-delay: 1ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#anim1 {
    color:rgba(255, 255, 255, 0);
    animation-delay:100ms;
}
#anim2 {
    color:rgba(255, 255, 255, 0);
    animation-delay:200ms;
}
#anim3 {
    color:rgba(255, 255, 255, 0);
    animation-delay:300ms;
}
#anim4 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 400ms;
}
#anim5 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 500ms;
}
#anim6 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 600ms;
}
#anim7 {
    margin-left:20px;
    color:rgba(255, 255, 255, 0);
    animation-delay: 700ms;
}
#anim8 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 800ms;
}
#anim9 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 900ms;
}
#anim10 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1000ms;
}
#anim11 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1100ms;
}
#anim12 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1200ms;
}
#anim13 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1300ms;
}
#anim14 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1400ms;
}
#anim15 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1500ms;
}
#anim16 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1600ms;
}
#anim17 {
    margin-left:20px;
    color:rgba(255, 255, 255, 0);
    animation-delay: 1700ms;
}
#anim18 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1800ms;
}
#anim19 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 1900ms;
}
#anim20 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2000ms;
}
#anim21 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2100ms;
}
#anim22 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2200ms;
}
#anim23 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2300ms;
}
#anim24 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2400ms;
}
#anim25 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2500ms;
}
#anim26 {
    margin-left:20px;
    color:rgba(255, 255, 255, 0);
    animation-delay: 2600ms;
}
#anim27 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2700ms;
}
#anim28 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2800ms;
}
#anim29 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 2900ms;
}
#anim30 {
    color:rgba(255, 255, 255, 0);
    animation-delay: 3000ms;
}
